main {
    padding: 120px 20px 60px;
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

p.subtitle {
    margin-bottom: 30px;
    color: #5d7d72;
}

/* BANNER */
section.banner {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid #dceee7;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
    margin: 30px auto;
}

section.banner span {
    font-size: 40px;
}
