/*   CARTE D’HUMEUR      */

.mood-card {
    padding: 25px; /* espace intérieur */
    width: fit-content; /* largeur adaptée au contenu */
    display: block; /* élément en bloc */
    margin: 5em auto; /* centre la carte */
}

/* GRAND EMOJI */
.big-emoji {
    font-size: 50px; /* grande taille */
    display: inline-block; /* reste sur la ligne */
    cursor: pointer; /* curseur main */
    transition: transform 0.25s ease; /* animation douce */
}
p {
    font-weight: bold;
}
/* CARTE ARTICLE */
article {
    background: rgba(255, 255, 255, 0.3); /* fond transparent */
    backdrop-filter: blur(15px); /* effet flou */
    -webkit-backdrop-filter: blur(15px); /* compatibilité Safari */

    border-radius: 20px; /* coins arrondis */
    overflow: hidden; /* cache ce qui dépasse */

    border: 1px solid rgba(255, 255, 255, 0.4); /* bordure légère */

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1); /* ombre */

    transition: all 0.3s ease; /* animation douce */
    position: relative; /* position de base */
}
